/* Overall */
html {
  font-family: 'Open Sans', sans-serif;
}

body {
  overflow: hidden;
}

.main-wrapper {
  padding: 0;
  margin: 0;
  background-color: #FCFAF2;
  border-bottom: 2px black solid;
}

.canvas-wrapper {
  display: grid;
  grid-template-columns: 248px minmax(62px, 124px) 1fr 1fr; 
}


/* options bar */
.utility-bar-wrapper {
  height: 50px;
  border-bottom: 2px black solid;

}

/* Color palette */
.color-wrapper {
  border-right: 2px black solid;
  
}

.color-container {
  margin-top: 1rem;

}



/* toolbar */

.toolbar-wrapper {
  border-right: 2px black solid;
  
}

.buttons-wrapper {
  margin-top: 1rem;
}

.shape-box {
  margin-bottom: 1rem;
}

.button {
  width: 50px;
  height: 50px;
  margin: 0px 5px 10px;
  border: 2px black solid;
  border-radius: 1pc;
}

.icon {
  display: block;
  width: 36px;
  height: 36px;
  margin: 5px;
}

.icon-sm {
  display: block;
  width: 30px;
  height: 30px;
  margin: 8px;
}

.icon-xs {
  display: block;
  width: 26px;
  height: 26px;
  margin: 10px;
}


/* canvas */


.canvas {
  position: relative;
}

.canvas-container {
  height: 800px;

}

.canvas-background {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 0;
}


#canvas-real {
  border-right: 1px black solid;
  margin: 0;  
}

#canvas-draft {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-right: 2px black solid;
  margin: 0;
}

.empty-wrapper {
  height: 100%;
}
/* Options bar */
.option-wrapper {
  border-top: 2px black solid;

}
